@charset "UTF-8";
@import url("https://unpkg.com/css.gg@2.0.0/icons/css/phone.css");
@import url("https://unpkg.com/css.gg@2.0.0/icons/css/mail.css");
/* MEDIA */
/* SCSS HEX */
@font-face {
  font-family: "LINESeed";
  src: url("fonts/LINESeed_W_Bd.woff") format("woff");
  font-weight: bold; }

@font-face {
  font-family: "LINESeed";
  src: url("fonts/LINESeed_W_Rg.woff") format("woff");
  font-weight: regular; }

* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: LINESeed; }

a {
  color: #f2f2f2ff;
  text-decoration: none; }

a:hover {
  color: #E7DFC2ff;
  transition: 0.3s; }

body {
  /* 留給 nav bar */
  padding-top: 75px; }

.container h1 {
  font-size: xx-large;
  margin-bottom: 12px; }

.container h2 {
  font-size: x-large;
  margin-bottom: 10px; }

.container h3 {
  font-size: larger; }

.container p {
  font-size: larger;
  margin-bottom: 10px; }

.center {
  text-align: center; }

.bg-1 {
  background: radial-gradient(ellipse at center, #86beae, #00336eff);
  color: #f2f2f2ff; }

.bg-2 {
  background: radial-gradient(ellipse at 20% 20%, #35234b 0%, transparent 70%), radial-gradient(ellipse at 60% 20%, #2975bf 0%, transparent 70%), radial-gradient(ellipse at 100% 20%, #3d54b1 0%, transparent 70%), radial-gradient(ellipse at 100% 100%, #9f3c54 0%, transparent 70%), radial-gradient(ellipse at 20% 100%, #362d6f 0%, transparent 70%);
  color: #f2f2f2ff; }

.bg-3 {
  background: conic-gradient(at 0% 0%, #fffafa, #f2f2f2ff);
  color: #2c2c2c; }

.content {
  margin: 0 10px;
  padding: 30px 0 50px; }

.flexbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

@media screen and (min-width: 1440px) {
  .container h1 {
    font-size: xxx-large;
    margin-bottom: 10px; }
  .container h2 {
    font-size: xx-large; }
  .container h3 {
    font-size: x-large; }
  .container p {
    font-size: x-large;
    margin-bottom: 10px; }
  .content {
    margin: 0 auto;
    padding: 50px 35px 70px;
    max-width: 1440px; } }

nav.navbar {
  width: 100vw;
  position: fixed;
  top: 0;
  background-color: #0F1C3Eff;
  font-size: 30px; }
  nav.navbar .navbar-wrapper {
    display: flex;
    height: 75px;
    align-items: center;
    position: relative; }
    nav.navbar .navbar-wrapper .logo img {
      display: block;
      height: 30px;
      margin: 0 35px; }
    nav.navbar .navbar-wrapper input#nav-toggle {
      display: none; }
    nav.navbar .navbar-wrapper input#nav-toggle:checked + nav {
      display: flex;
      flex-direction: column; }
    nav.navbar .navbar-wrapper nav {
      margin-top: 75px;
      width: 100%;
      position: absolute;
      top: 0;
      display: none;
      background-color: #00336eff; }
    nav.navbar .navbar-wrapper nav a {
      padding: 30px 0;
      text-align: center;
      border-bottom: #0F1C3Eff 2px solid; }
    nav.navbar .navbar-wrapper label.nav-btn {
      /* 漢堡按鈕 */
      position: absolute;
      right: 0;
      height: 40px;
      width: 40px;
      margin: 0 20px;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      nav.navbar .navbar-wrapper label.nav-btn div,
      nav.navbar .navbar-wrapper label.nav-btn div::before,
      nav.navbar .navbar-wrapper label.nav-btn div::after {
        height: 4px;
        width: 40px;
        border-radius: 2px;
        background-color: #f2f2f2ff;
        position: absolute; }
      nav.navbar .navbar-wrapper label.nav-btn div::before {
        content: '';
        margin-top: -10px; }
      nav.navbar .navbar-wrapper label.nav-btn div::after {
        content: '';
        margin-top: 10px; }

@media screen and (min-width: 1440px) {
  nav.navbar {
    font-size: 20px; }
    nav.navbar .navbar-wrapper {
      max-width: 1440px;
      margin: 0 auto; }
      nav.navbar .navbar-wrapper label.nav-btn {
        display: none; }
      nav.navbar .navbar-wrapper nav {
        display: block;
        width: auto;
        background-color: inherit;
        position: relative;
        margin: 0 35px 0 auto; }
        nav.navbar .navbar-wrapper nav a {
          padding: 10px 30px;
          border-bottom: none; }
        nav.navbar .navbar-wrapper nav a.nav-signup-btn {
          border-radius: 15px;
          background-color: #fff;
          color: #111; } }

footer {
  background-color: #0F1C3Eff;
  color: #f2f2f2ff; }
  footer .footer-wrapper {
    margin: 0 10px;
    padding: 10px 0; }
    footer .footer-wrapper h1 {
      font-size: larger;
      margin-bottom: 10px; }
    footer .footer-wrapper h2 {
      font-size: large;
      margin-bottom: 10px; }
    footer .footer-wrapper h3 {
      font-size: medium;
      margin-bottom: 10px; }
    footer .footer-wrapper p {
      font-size: medium;
      margin-bottom: 10px; }
    footer .footer-wrapper img {
      width: 80%; }
    footer .footer-wrapper .footer-item {
      width: 100%;
      padding: 10px 0; }
    footer .footer-wrapper .contact .phone p,
    footer .footer-wrapper .contact .email p {
      display: flex; }
      footer .footer-wrapper .contact .phone p i,
      footer .footer-wrapper .contact .email p i {
        margin-right: 12px;
        --ggs: 1.2; }
    footer .footer-wrapper .location .text {
      width: 100%; }
    footer .footer-wrapper .location .map {
      width: 100%; }
      footer .footer-wrapper .location .map iframe {
        width: 100%; }

.copyright {
  background-color: #0b0c10ff;
  color: #f2f2f2ff;
  text-align: center;
  font-size: medium; }

@media screen and (min-width: 1440px) {
  footer .footer-wrapper {
    margin: 0 auto;
    padding: 40px 35px;
    max-width: 1440px; }
    footer .footer-wrapper h1 {
      font-size: xx-large;
      margin-bottom: 10px; }
    footer .footer-wrapper h2 {
      font-size: x-large;
      margin-bottom: 10px; }
    footer .footer-wrapper h3 {
      font-size: larger;
      margin-bottom: 10px; }
    footer .footer-wrapper p {
      font-size: larger;
      margin-bottom: 10px; }
    footer .footer-wrapper .name {
      width: 35%; }
    footer .footer-wrapper .contact {
      width: 20%; }
    footer .footer-wrapper .location {
      width: 45%; }
      footer .footer-wrapper .location .text {
        width: 50%; }
      footer .footer-wrapper .location .map {
        width: 40%; }
        footer .footer-wrapper .location .map iframe {
          width: 100%;
          height: 100%; } }

.key-vision {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 75px);
  width: 100vw;
  margin: 0 auto; }
  .key-vision img {
    object-fit: contain;
    width: 90%;
    height: 90%; }

.purpose {
  color: #2c2c2c;
  background-color: #f2f2f2ff;
  text-align: justify;
  border-radius: 20px;
  padding: 10px 20px; }
  .purpose .image {
    width: 100%; }
    .purpose .image img {
      width: 100%; }
  .purpose .text {
    width: 100%; }

.camp-info {
  color: #A62948ff;
  align-items: flex-end; }
  .camp-info .date {
    padding: 20px 0;
    width: 100%; }
  .camp-info .location {
    padding: 20px 0;
    width: 100%; }

.event .event-item {
  width: 100%; }
  .event .event-item img {
    width: 100%;
    margin-bottom: 10px; }

@media screen and (min-width: 1440px) {
  .key-vision {
    width: calc(100vw - 44px); }
  .purpose {
    width: 1200px;
    margin: 40px auto;
    border-radius: 80px;
    padding: 60px 80px;
    box-sizing: border-box;
    align-items: flex-end;
    justify-content: space-between; }
    .purpose .image {
      width: 35%; }
      .purpose .image img {
        width: 100%; }
    .purpose .text {
      width: 60%; }
  .camp-info {
    width: 1200px;
    margin: 40px auto; }
    .camp-info .date {
      width: 50%; }
    .camp-info .location {
      width: 50%; }
  .event .event-item {
    width: 30%; } }

.agenda .day {
  width: 100%;
  margin-bottom: 10px; }
  .agenda .day .session {
    padding: 10px;
    color: #f2f2f2ff;
    background-color: #00336eff;
    box-shadow: 4px 4px #86beae;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .agenda .day .session + .session {
    margin-top: 10px; }
  .agenda .day .session-1 {
    height: 240px; }
  .agenda .day .session-2 {
    height: 80px; }
  .agenda .day .session-3 {
    height: 480px; }
  .agenda .day .session-4 {
    height: 240px; }
  .agenda .day .session-5 {
    height: 240px; }
  .agenda .day .session-6 {
    height: 160px; }
  .agenda .day .session-launch {
    height: 50px;
    background-color: #2088ffff;
    box-shadow: 4px 4px #86beae; }
  .agenda .day .session-8 {
    height: 960px; }
  .agenda .day .session-9 {
    height: 80px; }
  .agenda .day .session-10 {
    height: 560px; }

@media screen and (min-width: 1440px) {
  .agenda .day {
    width: 32%; } }

.hero {
  text-align: center; }
  .hero .hero-wrapper {
    margin: 0 10px;
    padding: 100px 0; }
  .hero h1 {
    font-size: larger;
    font-weight: 300; }
  .hero p {
    font-size: small; }

.intern-info ol {
  padding-left: 25px; }
  .intern-info ol li {
    font-size: larger;
    list-style: circle;
    margin-bottom: 10px; }

@media screen and (min-width: 1440px) {
  .hero .hero-wrapper {
    margin: 0 auto;
    padding: 150px 35px;
    max-width: 1440px; }
    .hero .hero-wrapper h1 {
      font-size: 72px; }
    .hero .hero-wrapper p {
      font-size: 24px; }
  .intern-info {
    width: 1200px;
    margin: 40px auto; }
    .intern-info ol {
      padding-left: 35px; }
      .intern-info ol li {
        font-size: xx-large; } }

.admission-list img {
  width: 300px; }

.admission-list .row .column {
  width: 100%; }
  .admission-list .row .column .item {
    font-size: larger; }
    .admission-list .row .column .item span + span {
      margin-left: 20px; }

@media screen and (min-width: 1440px) {
  .admission-list img {
    width: 500px; }
  .admission-list .row {
    justify-content: left; }
    .admission-list .row .column {
      width: 30%; } }

.organizer-container .organizer-item {
  padding: 20px;
  border: 2px solid #2c2c2c;
  margin-bottom: 10px; }
  .organizer-container .organizer-item p {
    text-align: justify; }
  .organizer-container .organizer-item img {
    float: right;
    width: 35%; }

@media screen and (min-width: 1440px) {
  .organizer-container .organizer-item {
    width: 29%; } }

/*# sourceMappingURL=style.scss.css.map */