{% extends "layout.html" %}

{% block title %}錄取名單{% endblock %}
{% block lead %}{% endblock %}

{% block page_content %}

<section class="bg-3">


    <div class="content">

        <h1>錄取名單</h1>
        <div class="admission-list">

            <p>尚未公告，請耐心等候...</p>
            <img src="{{ url_for('static', filename = 'assets/images/wait.png') }}" alt="">

        </div>



    </div>


    <br>
    <hr>
    <br>

    <div class="content">

        <h1>錄取名單</h1>
        <div class="admission-list">
            <h2>正取（87 位）</h2>
            <div class="row flexbox">

                <div class="column">
                    <div class="item">
                        <span>廖&#x25CB;莆</span>
                        <span>國立陽明交通大學/資訊工程學系</span>
                    </div>
                    <div class="item">
                        <span>廖&#x25CB;莆</span>
                        <span>國立陽明交通大學/資訊工程學系</span>
                    </div>
                    <div class="item">
                        <span>廖&#x25CB;莆</span>
                        <span>國立陽明交通大學/資訊工程學系</span>
                    </div>
                    <div class="item">
                        <span>廖&#x25CB;莆</span>
                        <span>國立陽明交通大學/資訊工程學系</span>
                    </div>
                    <div class="item">
                        <span>廖&#x25CB;莆</span>
                        <span>國立陽明交通大學/資訊工程學系</span>
                    </div>
                    <div class="item">
                        <span>廖&#x25CB;莆</span>
                        <span>國立陽明交通大學/資訊工程學系</span>
                    </div>

                </div>
                <div class="column">
                    <div class="item">
                        <span>廖&#x25CB;莆</span>
                        <span>國立陽明交通大學/資訊工程學系</span>
                    </div>
                    <div class="item">
                        <span>廖&#x25CB;莆</span>
                        <span>國立陽明交通大學/資訊工程學系</span>
                    </div>
                    <div class="item">
                        <span>廖&#x25CB;莆</span>
                        <span>國立陽明交通大學/資訊工程學系</span>
                    </div>
                    <div class="item">
                        <span>廖&#x25CB;莆</span>
                        <span>國立陽明交通大學/資訊工程學系</span>
                    </div>
                    <div class="item">
                        <span>廖&#x25CB;莆</span>
                        <span>國立陽明交通大學/資訊工程學系</span>
                    </div>
                    <div class="item">
                        <span>廖&#x25CB;莆</span>
                        <span>國立陽明交通大學/資訊工程學系</span>
                    </div>

                </div>
                <div class="column">
                    <div class="item">
                        <span>廖&#x25CB;莆</span>
                        <span>國立陽明交通大學/資訊工程學系</span>
                    </div>
                    <div class="item">
                        <span>廖&#x25CB;莆</span>
                        <span>國立陽明交通大學/資訊工程學系</span>
                    </div>
                    <div class="item">
                        <span>廖&#x25CB;莆</span>
                        <span>國立陽明交通大學/資訊工程學系</span>
                    </div>
                    <div class="item">
                        <span>廖&#x25CB;莆</span>
                        <span>國立陽明交通大學/資訊工程學系</span>
                    </div>
                    <div class="item">
                        <span>廖&#x25CB;莆</span>
                        <span>國立陽明交通大學/資訊工程學系</span>
                    </div>
                    <div class="item">
                        <span>廖&#x25CB;莆</span>
                        <span>國立陽明交通大學/資訊工程學系</span>
                    </div>

                </div>

            </div>

        </div>
        <br>
        <div class="admission-list">
            <h2>備取（36 位）</h2>
            <div class="row flexbox">

                <div class="column">
                    <div class="item">
                        <span>廖&#x25CB;莆</span>
                        <span>國立陽明交通大學/資訊工程學系</span>
                    </div>
                    <div class="item">
                        <span>廖&#x25CB;莆</span>
                        <span>國立陽明交通大學/資訊工程學系</span>
                    </div>
                    <div class="item">
                        <span>廖&#x25CB;莆</span>
                        <span>國立陽明交通大學/資訊工程學系</span>
                    </div>
                    <div class="item">
                        <span>廖&#x25CB;莆</span>
                        <span>國立陽明交通大學/資訊工程學系</span>
                    </div>
                    <div class="item">
                        <span>廖&#x25CB;莆</span>
                        <span>國立陽明交通大學/資訊工程學系</span>
                    </div>
                    <div class="item">
                        <span>廖&#x25CB;莆</span>
                        <span>國立陽明交通大學/資訊工程學系</span>
                    </div>

                </div>
                <div class="column">
                    <div class="item">
                        <span>廖&#x25CB;莆</span>
                        <span>國立陽明交通大學/資訊工程學系</span>
                    </div>
                    <div class="item">
                        <span>廖&#x25CB;莆</span>
                        <span>國立陽明交通大學/資訊工程學系</span>
                    </div>
                    <div class="item">
                        <span>廖&#x25CB;莆</span>
                        <span>國立陽明交通大學/資訊工程學系</span>
                    </div>
                    <div class="item">
                        <span>廖&#x25CB;莆</span>
                        <span>國立陽明交通大學/資訊工程學系</span>
                    </div>
                    <div class="item">
                        <span>廖&#x25CB;莆</span>
                        <span>國立陽明交通大學/資訊工程學系</span>
                    </div>
                    <div class="item">
                        <span>廖&#x25CB;莆</span>
                        <span>國立陽明交通大學/資訊工程學系</span>
                    </div>

                </div>
                <div class="column">
                    <div class="item">
                        <span>廖&#x25CB;莆</span>
                        <span>國立陽明交通大學/資訊工程學系</span>
                    </div>
                    <div class="item">
                        <span>廖&#x25CB;莆</span>
                        <span>國立陽明交通大學/資訊工程學系</span>
                    </div>
                    <div class="item">
                        <span>廖&#x25CB;莆</span>
                        <span>國立陽明交通大學/資訊工程學系</span>
                    </div>
                    <div class="item">
                        <span>廖&#x25CB;莆</span>
                        <span>國立陽明交通大學/資訊工程學系</span>
                    </div>
                    <div class="item">
                        <span>廖&#x25CB;莆</span>
                        <span>國立陽明交通大學/資訊工程學系</span>
                    </div>
                    <div class="item">
                        <span>廖&#x25CB;莆</span>
                        <span>國立陽明交通大學/資訊工程學系</span>
                    </div>

                </div>

            </div>

        </div>

    </div>



</section>

{% endblock %}