{% extends "layout.html" %}

{% block title %}活動議程{% endblock %}
{% block lead %}{% endblock %}

{% block page_content %}


<section class="bg-3">

    <div class="content center">

        <h1>營隊議程</h1>
        <br>

        <div class="agenda flexbox">
            <div class="day day-1">
                <h2>1 月 29 日（一）</h2>
                <br>
                <div class="session session-1">
                    <!-- 30 -->
                    <h4 class="time-slot">9:00am</h4>
                    <h3 class="session-title">報到</h3>
                    <span class="session-presenter"></span>
                </div>
                <div class="session session-2">
                    <!-- 10 -->
                    <h4 class="time-slot">9:30am</h4>
                    <h3 class="session-title">開場致詞</h3>
                    <span class="session-presenter">吳漢忠</span>
                </div>
                <div class="session session-3">
                    <!-- 60 -->
                    <h4 class="time-slot">9:40am</h4>
                    <h3 class="session-title">破冰、導覽園區</h3>
                    <span class="session-presenter"></span>
                </div>
                <div class="session session-4">
                    <!-- 30 -->
                    <h4 class="time-slot">10:40am</h4>
                    <h3 class="session-title">生技商業概念介紹</h3>
                    <span class="session-presenter">黃文英</span>
                </div>
                <div class="session session-5">
                    <!-- 30 -->
                    <h4 class="time-slot">11:10am</h4>
                    <h3 class="session-title">專家教你做 BP 簡報</h3>
                    <span class="session-presenter">袁照晶</span>
                </div>
                <div class="session session-6">
                    <!-- 20 -->
                    <h4 class="time-slot">11:40am</h4>
                    <h3 class="session-title">選題 + 小隊討論</h3>
                    <span class="session-presenter"></span>
                </div>
                <div class="session session-launch">
                    <!-- 90 -->
                    <h4 class="time-slot">12:00am</h4>
                    <h3 class="session-title">午餐</h3>
                    <span class="session-presenter"></span>
                </div>
                <div class="session session-8">
                    <!-- 120 -->
                    <h4 class="time-slot">13:30am</h4>
                    <h3 class="session-title">產業沙龍</h3>
                    <span class="session-presenter">褚家容、張郁芬、廖仲麒、呂采修</span>
                </div>
                <div class="session session-9">
                    <!-- 10 -->
                    <h4 class="time-slot">15:30am</h4>
                    <h3 class="session-title">休息時間</h3>
                    <span class="session-presenter"></span>
                </div>
                <div class="session session-10">
                    <!-- 70 -->
                    <h4 class="time-slot">15:40am</h4>
                    <h3 class="session-title">設計思考工作坊</h3>
                    <span class="session-presenter">黃書緯</span>
                </div>





            </div>

            <div class="day day-2">
                <h2>1 月 30 日（二）</h2>
                <br>
                <div class="session session-1">
                    <!-- 30 -->
                    <h4 class="time-slot">9:00am</h4>
                    <h3 class="session-title">報到</h3>
                    <span class="session-presenter"></span>
                </div>
                <div class="session session-2">
                    <!-- 10 -->
                    <h4 class="time-slot">9:30am</h4>
                    <h3 class="session-title">開場致詞</h3>
                    <span class="session-presenter">吳漢忠</span>
                </div>
                <div class="session session-3">
                    <!-- 60 -->
                    <h4 class="time-slot">9:40am</h4>
                    <h3 class="session-title">破冰、導覽園區</h3>
                    <span class="session-presenter"></span>
                </div>
                <div class="session session-4">
                    <!-- 30 -->
                    <h4 class="time-slot">10:40am</h4>
                    <h3 class="session-title">生技商業概念介紹</h3>
                    <span class="session-presenter">黃文英</span>
                </div>
                <div class="session session-5">
                    <!-- 30 -->
                    <h4 class="time-slot">11:10am</h4>
                    <h3 class="session-title">專家教你做 BP 簡報</h3>
                    <span class="session-presenter">袁照晶</span>
                </div>
                <div class="session session-6">
                    <!-- 20 -->
                    <h4 class="time-slot">11:40am</h4>
                    <h3 class="session-title">選題 + 小隊討論</h3>
                    <span class="session-presenter"></span>
                </div>
                <div class="session session-launch">
                    <!-- 90 -->
                    <h4 class="time-slot">12:00am</h4>
                    <h3 class="session-title">午餐</h3>
                    <span class="session-presenter"></span>
                </div>
                <div class="session session-8">
                    <!-- 120 -->
                    <h4 class="time-slot">13:30am</h4>
                    <h3 class="session-title">產業沙龍</h3>
                    <span class="session-presenter">褚家容、張郁芬、廖仲麒、呂采修</span>
                </div>
                <div class="session session-9">
                    <!-- 10 -->
                    <h4 class="time-slot">15:30am</h4>
                    <h3 class="session-title">休息時間</h3>
                    <span class="session-presenter"></span>
                </div>
                <div class="session session-10">
                    <!-- 70 -->
                    <h4 class="time-slot">15:40am</h4>
                    <h3 class="session-title">設計思考工作坊</h3>
                    <span class="session-presenter">黃書緯</span>
                </div>





            </div>
            <div class="day day-3">
                <h2>1 月 31 日（三）</h2>
                <br>
                <div class="session session-1">
                    <!-- 30 -->
                    <h4 class="time-slot">9:00am</h4>
                    <h3 class="session-title">報到</h3>
                    <span class="session-presenter"></span>
                </div>
                <div class="session session-2">
                    <!-- 10 -->
                    <h4 class="time-slot">9:30am</h4>
                    <h3 class="session-title">開場致詞</h3>
                    <span class="session-presenter">吳漢忠</span>
                </div>
                <div class="session session-3">
                    <!-- 60 -->
                    <h4 class="time-slot">9:40am</h4>
                    <h3 class="session-title">破冰、導覽園區</h3>
                    <span class="session-presenter"></span>
                </div>
                <div class="session session-4">
                    <!-- 30 -->
                    <h4 class="time-slot">10:40am</h4>
                    <h3 class="session-title">生技商業概念介紹</h3>
                    <span class="session-presenter">黃文英</span>
                </div>
                <div class="session session-5">
                    <!-- 30 -->
                    <h4 class="time-slot">11:10am</h4>
                    <h3 class="session-title">專家教你做 BP 簡報</h3>
                    <span class="session-presenter">袁照晶</span>
                </div>
                <div class="session session-6">
                    <!-- 20 -->
                    <h4 class="time-slot">11:40am</h4>
                    <h3 class="session-title">選題 + 小隊討論</h3>
                    <span class="session-presenter"></span>
                </div>
                <div class="session session-launch">
                    <!-- 90 -->
                    <h4 class="time-slot">12:00am</h4>
                    <h3 class="session-title">午餐</h3>
                    <span class="session-presenter"></span>
                </div>
                <div class="session session-8">
                    <!-- 120 -->
                    <h4 class="time-slot">13:30am</h4>
                    <h3 class="session-title">產業沙龍</h3>
                    <span class="session-presenter">褚家容、張郁芬、廖仲麒、呂采修</span>
                </div>
                <div class="session session-9">
                    <!-- 10 -->
                    <h4 class="time-slot">15:30am</h4>
                    <h3 class="session-title">休息時間</h3>
                    <span class="session-presenter"></span>
                </div>
                <div class="session session-10">
                    <!-- 70 -->
                    <h4 class="time-slot">15:40am</h4>
                    <h3 class="session-title">設計思考工作坊</h3>
                    <span class="session-presenter">黃書緯</span>
                </div>





            </div>
        </div>


    </div>

</section>


{% endblock %}