{% extends "layout.html" %}

{% block title %}首頁{% endblock %}
{% block lead %}

<header class="key-vision">
    <img src="{{ url_for('static', filename = 'assets/images/key-vision.png') }}" alt="YCBS 2024 主視覺">
</header>

{%endblock %}

{% block page_content %}

<section class="bg-1">

    <div class="content">
        <h1 class="center">營隊宗旨</h1>

        <div class="purpose flexbox">

            <div class="image ">
                <img src="{{ url_for('static', filename = 'assets/images/key-vision-small.png') }}" alt="">
            </div>
            <div class="text">

                <p>國家生技研究園區成立營隊，旨為讓青年學子瞭解園區扶植台灣生技新創的核心價值，並透過營隊課程及活動規劃，搭配理論與實務併進形式，期以此提升學員的專業知能、對新創產業的認知、激發學生的創業熱情。</p>

                <p>園區致力於將台灣生技生醫新創理念向下紮根於下一代，本次營隊除將透過課程及活動規劃，增進學員對生技生醫新創產業的認識外，活動結束後也將藉由提供產研界實習機會，以此縮短學生進入業界後的產學落差，順利達成產學接軌；同時，為深入校園及青年學子圈，也將提供培育機會讓學生成為校園大使，協助參與籌劃下屆青年創業營。
                </p>

            </div>

        </div>

    </div>

</section>

<section>

    <div class="content">

        <div class="camp-info flexbox center">
            <div class="date">
                <svg width="180" height="180" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M9 7H11V12H16V14H9V7Z" fill="currentColor" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12ZM20 12C20 16.4183 16.4183 20 12 20C7.58172 20 4 16.4183 4 12C4 7.58172 7.58172 4 12 4C16.4183 4 20 7.58172 20 12Z"
                        fill="currentColor" />
                </svg>
                <h1>1/29 - 1/31, 2024</h1>
            </div>

            <div class="location">
                <svg width="180" height="180" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M16.2721 10.2721C16.2721 12.4813 14.4813 14.2721 12.2721 14.2721C10.063 14.2721 8.27214 12.4813 8.27214 10.2721C8.27214 8.06298 10.063 6.27212 12.2721 6.27212C14.4813 6.27212 16.2721 8.06298 16.2721 10.2721ZM14.2721 10.2721C14.2721 11.3767 13.3767 12.2721 12.2721 12.2721C11.1676 12.2721 10.2721 11.3767 10.2721 10.2721C10.2721 9.16755 11.1676 8.27212 12.2721 8.27212C13.3767 8.27212 14.2721 9.16755 14.2721 10.2721Z"
                        fill="currentColor" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M5.79417 16.5183C2.19424 13.0909 2.05438 7.39409 5.48178 3.79417C8.90918 0.194243 14.6059 0.054383 18.2059 3.48178C21.8058 6.90918 21.9457 12.6059 18.5183 16.2059L12.3124 22.7241L5.79417 16.5183ZM17.0698 14.8268L12.243 19.8965L7.17324 15.0698C4.3733 12.404 4.26452 7.97318 6.93028 5.17324C9.59603 2.3733 14.0268 2.26452 16.8268 4.93028C19.6267 7.59603 19.7355 12.0268 17.0698 14.8268Z"
                        fill="currentColor" />
                </svg>
                <h1>國家生技研究園區</h1>
            </div>
        </div>

    </div>

</section>

<section class="bg-1">

    <div class="center content">
        <h1>報名詳情及錄取公告</h1>
        <p>即日起至 2023年 12 月 17 日 23:59 止</p>
        <br>
        <h2>報名資格</h2>
        <p>全國各大專院校系所學生</p>
        <p>（不限科系，歡迎商管、生命科學或其他系所學生參加）</p>
        <br>
        <h2>公佈錄取名單</h2>
        <p>第一階段錄取名單將於 2023 年 12 月 25 日於本活動網站公布綠取名單。</p>
        <p>經錄取者，將寄送活動資料予您，請於截止日期內完成匯款，以免影響您的權益</p>
    </div>

</section>

<section class="bg-3">

    <div class="content">
        <h1 class="center">活動介紹</h1>
        <div class="event flexbox">
            <div class="event-item">
                <h2 class="center">創業競賽</h2>
                <img src="{{ url_for('static', filename = 'assets/images/entrepreneurship-competition.png') }}" alt="">
                <p>透過企業題材的規劃及模擬，有效連結校園創意與產業需求，以達成實踐創新創業及培養創業家之目的。</p>
                <p>藉由競賽使參加團隊在審查及活動過程中，瞭解生技產業經營之核心價值與風險，使整體創業計畫更貼近市場所需，進而完善創業構想並付諸實現，引領青年學子的創業風潮。</p>
            </div>
            <div class="event-item">
                <h2 class="center">產業沙龍</h2>
                <img src="{{ url_for('static', filename = 'assets/images/industry-salon.png') }}" alt="">
                <p>藉由邀請園區新創產業多位高階經理人與學員交流，並劃分出多元的領域，讓學員能跨領域接觸，抓緊機會，透過餐會的形式，讓你近距離地與你未來想從事工作的相關人士交談，跨過學生與業界之間的鴻溝！</p>
                <p>深度分桌對談，讓學員深入瞭解新創產業的面貌，以及新創團隊的心路歷程。</p>
            </div>
            <div class="event-item">
                <h2 class="center">導覽園區</h2>
                <img src="{{ url_for('static', filename = 'assets/images/park-guide.png') }}" alt="">
                <p>國家生技研究園區為國內第一個跨產官學研共同進駐之新一代國家級生醫研究生態圈。透過園區深度導覽了解如何利用園區資源，輔佐生技新創產業發展。</p>
            </div>
        </div>

    </div>

</section>

{% endblock %}