{% extends "layout.html" %}

{% block title %}實習計畫{% endblock %}
{% block lead %}

<header class="hero bg-2">

    <div class="hero-wrapper">

        <h1>BYSA 實習生是讓參加過 YCBS、</h1>
        <h1>想更深入了解生技產業的學員參加的團體。</h1>
        <br>
        <p>我們為志同道合的學員提供一個平台。</p>
        <p>成員透過共同舉辦營隊活動、參訪企業，以及協助舉辦園區活動（例如 OPENDAY、DEMODAY、展覽等），並擔任校園大使。</p>
        <p>讓大家更加熟悉台灣的生技產業。</p>
    </div>

</header>


{% endblock %}

{% block page_content %}


<section>

    <div class="content">

        <div class="intern-info">

            <h1 class="center">實習計畫概要</h1>
            <ol>
                <li>曾參加過歷年 YCBS 營隊。</li>
                <li>一年內需配合國家生技園區相關活動出勤達約 30 小時。</li>
                <li>需擔任校園大使。若 BYSA 有消息或資源要推廣到校園，社員須配合幫忙。</li>
                <li>需幫助協辦次屆 YCBS 活動。</li>
                <li>配合以上相關規定方能領取國家生技研究園區實習證書。</li>
            </ol>


        </div>




    </div>

</section>

{% endblock %}